<div id="chart3"></div>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script SRC ="http://dl.dropboxusercontent.com/u/17949100/jsnetworkx.js"> </script>
:javascript
  $(document).ready(function(){
    var G3 = jsnx.Graph();

    $.getJSON('/pages/nearest.json?n=4&title=AccessibleComputing', function(data) {
      console.log(data)

      var nodes = []
      var edges = []
      $.each(data.pages, function(page) {
        page = data.pages[page]
        console.log(page.id);
        nodes.push(page.id);
      });

      $.each(data.links, function(link) {
        link = data.links[link]
        console.log([link.from_id, link.to_id]);
        edges.push([link.from_id, link.to_id]);
      });
      G3.add_nodes_from(nodes, {group:0});

      G3.add_edges_from(edges);

      var color = d3.scale.category20();
      jsnx.draw(G3, {
          element: '#chart3',
          layout_attr: {
              charge: -120,
              linkDistance: 20
          },
          node_attr: {
              r: 5,
              title: function(d) { return d.label;}
          },
          node_style: {
              fill: function(d) {
                  console.log(d);
                  return color(d.data.group); 
              },
              stroke: 'none'
          },
          edge_style: {
              stroke: '#999'
          }
      }, true);
    });
  });
